body {
    --primary-color: #4e9e9e;
    --caption-color: #f0f0f0;
    background-color: #3e3d3d;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

header {
    position: fixed;
    width: 100%;
    top: 0;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 20px 0;
    text-align: center;
}

header nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
}

header a {
    color: var(--caption-color);
    font-size: 18px;
    text-decoration: none;
    letter-spacing: 2px;
    transition: color 0.3s ease;
}

header a:hover {
    color: var(--primary-color);
}

#my_page {
    color: var(--primary-color);
}

#responsev_button {
    display: none;
}

.intro-text {
    text-align: center;
    margin-top: 150px;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

.intro-text h1 {
    font-size: 36px;
    color: var(--primary-color);
    margin-bottom: 20px;
}

.intro-text p {
    font-size: 18px;
    color: var(--caption-color);
}

img {
    margin-top: 90px;
    width: 100%;
    height: auto;
    opacity: 0.8;
    transition: opacity 0.5s ease;
}

img:hover {
    opacity: 1;
}

.testimonials {
    margin-top: 70px;
    background-color: var(--primary-color);
    padding: 40px 0;
    text-align: center;
    font-size: 21px;
    color: #3b3b3b;
    font-style: italic;
}

.testimonials h2 {
    font-size: 24px;
    color: var(--caption-color);
    margin-bottom: 20px;
}

footer {
    margin-top: 70px;
    background-color: rgba(0, 0, 0, 0.984);
    color: var(--caption-color);
    padding: 20px 0;
    text-align: center;
}

@media(max-width:767px) {
    header a {
        display: none;
    }

    #responsev_button {
        display: block;
        color: var(--caption-color);
    }
}