body {
    --primary-color: #4e9e9e;
    --secondary-color: #ff6f61;
    --caption-color: #f0f0f0;
    background-color: #3e3d3d;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

header {
    position: fixed;
    width: 100%;
    top: 0;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 20px 0;
    text-align: center;
}

header nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
}

header a {
    color: var(--caption-color);
    font-size: 18px;
    text-decoration: none;
    letter-spacing: 2px;
    transition: color 0.3s ease;
}

header a:hover {
    color: var(--primary-color);
}

#my_page {
    color: var(--primary-color);
}

#responsev_button {
    display: none;
}

main {
    padding-top: 195px;
}

#form {
    padding: 30px;
    margin: auto;
    width: 50%;
    background-color: var(--primary-color);
    border-radius: 5px;
    box-shadow: 30px rgba(244, 239, 239, 0.1);
}

.form-group {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-weight: 500;
}

#form p {
    color: var(--secondary-color);
    font-weight: bold;
    font-size: 20px;
}

input[type="text"],
input[type="date"],
input[type="file"],
textarea,
.color {
    width: 95%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #bebdbd;
    border-radius: 4px;

}

.button-group {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.form-group:nth-child(odd) {
    background-color: #69abab;
}

button:hover {
    background-color: var(--secondary-color);
    color: white;
}

footer {
    margin-top: 190px;
    background-color: rgba(0, 0, 0, 0.984);
    color: var(--caption-color);
    padding: 20px 0;
    text-align: center;
}

@media(max-width:767px) {
    header a {
        display: none;
    }

    #responsev_button {
        display: block;
        color: var(--caption-color);
    }
}