body {
    background-color: #3e3d3d;
    color: #f0f0f0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
    --primary-color: #4e9e9e;
    --secondary-color: #ff6f61;
    --caption-color: #f0f0f0;
}

header {
    position: fixed;
    width: 100%;
    top: 0;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 20px 0;
    text-align: center;
}

header nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
}

header a {
    color: var(--caption-color);
    font-size: 18px;
    text-decoration: none;
    letter-spacing: 2px;
    transition: color 0.3s ease;
}

header a:hover {
    color: var(--primary-color);
}

#my_page {
    color: var(--primary-color);
}

#responsev_button {
    display: none;
}

#container {
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 180px;
    margin-bottom: 100px;
    padding: 20px;
    text-align: center;
}

h1 {
    margin-bottom: 10px;
}

p {
    font-size: 18px;
}

#cards {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 80px;
}

.card {
    height: 150px;
    width: 25%;
    background-color: var(--primary-color);
    border: 1px solid #346969;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.2s;
}

.card:hover {
    background-color: #3e3d3d;
    transform: translateY(-5px);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}

.card-title:hover {
    color: var(--secondary-color);
}

.icon:before {
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    font-size: 36px;
    margin-bottom: 15px;
    color: var(--secondary-color);
}

#pen:before {
    content: '\f5ad';
}

#paint:before {
    content: '\f1fc';
}

#face:before {
    content: '\f118';
}

#hand:before {
    content: '\f256';
}

#star:before {
    content: '\f5c0';
}

#color:before {
    content: '\f53f';
}

.card a {
    font-size: 20px;
    padding: 30px;
    font-weight: bold;
    color: var(--caption-color);
}

footer {
    margin-top: 190px;
    background-color: rgba(0, 0, 0, 0.984);
    color: var(--caption-color);
    padding: 20px 0;
    text-align: center;
}

@media(max-width:767px) {
    header a {
        display: none;
    }

    #responsev_button {
        display: block;
        color: var(--caption-color);
    }

    .card {
        width: 100%;
    }
}